# dependencies
node_modules/
.npm-cache/

# next.js
.next/
out/
.vercel/

# testing
coverage/
playwright-report/
test-results/

# env & local
.env
.env.*
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
