@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: 'Lora', serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}